/** Insert your code here **/

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}

ol > li {
	color: green;
}

ol li:nth-child(2) {
	background-color: green;
}

ul li {
	color: red;
}

tr:nth-child(2n + 1) {
	background-color: yellow;
}
